.card {
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.add-expense {
    padding: 1rem;
    background-color: rgba(117, 118, 118, 0.46);
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    text-align: center;
}

.add-expense button{
    font-size: 1rem;
    color: white;
    background-color: #40005d;
    border: none;
    padding: 0.5rem;
    border-radius: 12px;
    cursor: pointer;
    width: 12rem;
    height: 3.5rem;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .form-control {
    flex: 1;
  }
  
  .form-control label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
    text-align: left;
  }
  
  .form-control input {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 20rem; 
  }
  
  .form-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .form-actions button {
    font-size: 1rem;
    color: white;
    background-color: #40005d;
    border: none;
    padding: 0.5rem;
    border-radius: 12px;
    cursor: pointer;
    margin-right: 1rem;
    width: 10rem;
    height: 3.5rem;
  }

  .form-actions button:first-child {
    width: 8rem;
  }